html {
    box-sizing: border-box;
  }
  body{
      margin: 0;
      background: #0b0b0b;
      color: white;
      max-height: 10vh;
  }

  /*   *,
  *:before,
  *:after {
    box-sizing: inherit;
  }  */

  .kg-text {
    font-family: 'Titan One', cursive;
      font-size: 3em;
      color: inherit;
      text-align: center;
      text-shadow: 3px 1px 3px #ff0000ad;
  }

  .container {
      margin: .5vw;
      display: flex;
      flex-wrap: wrap;
      flex-flow: row wrap;
  }

  header div {
      flex: auto;
      width: 400px;
      margin: 5px;
      
      border : solid rgba(199, 196, 193, 0.89) 5px;
  }

  header div img {
      width: auto;
      height: 10em;
     
  }

.panel
{
    opacity:1;
    transition: 1s ease-out;
}

.in
{
  opacity: 1;
}

.zoom {
   
    transition: transform .1s;   
    /*   width: 200px; height: 200px; */
     margin: 5px;
    border-radius: 5%;
}

.zoom:hover {

    transform: scale(1.5); 
}

@media screen and (max-width: 400px) {
    header div {
        margin: 0;
    }
    header {
        padding: 0;
    }
}
