html {
    /* box-sizing: border-box; */
  }
  body{
     background: #dfc5dcd3;
      color: white;
      max-height: 100vh;
  }

  /*   *,
  *:before,
  *:after {
    box-sizing: inherit;
  }  */

  .kd-text {
      
    font-family: impact,  'Titan One', cursive;
      font-size: 5em;
      color: inherit;
      text-align: center;
      text-shadow: 3px 1px 3px #2e2929ad;
      background-color: #c49fbfd3;
  }

  .cro {
    text-align: center;
    color: #2e2929ad;
    font-size: 2em;
    font-family: lato;
    border: solid red 1px;
    margin: 0;
  }

  .container-cro {
    /* padding: 0; */
      /* margin: 10px 5px 0; */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* padding: 10px 5px 50px; */
      /*flex-flow: row wrap;*/
      /* flex-basis: 1; */
      border: 1px solid green;
  }

 .crocheting{
  margin: 300px 0 50px 0;
} 
 


  header div {
      
      width: 400px;
      padding: 10px;
      /* margin: 5px; */
      /* border : solid rgba(199, 196, 193, 0.89) 1px; */
      border-radius: 10px;
  }
  .pict{
    text-align: center;
    color:#2e2929ad;
    font-family: lato;
  }

  .z{
     
      width:  400px;
      max-width: 100%;
      /* max-height: 100%; */
      border-radius: 10px;
      border : solid rgba(54, 54, 54, 0.89) 1px;
    }

.panel
{
    opacity:1;
    transition: 1s ease-out;
}

.in
{
  opacity: 5;
}

.z {
   
    transition: transform .1s;   
    /*   width: 200px; height: 200px; */
     margin: 3px;
    /* border-radius: 5%; */
}

.z:hover {

    transform: scale(1.2); 
}

@media screen and (max-width: 400px) {
    header div {
        margin: 0;
    }
    header {
        padding: 0;
    }
}
